In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.0.2)

In [2]:
import pymysql

In [3]:
db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',charset='utf8')

In [4]:
db

In [5]:
cursor = db.cursor()

In [6]:
sql = "create database IF NOT EXISTS ecommerce"
cursor.execute(sql)

1

In [7]:
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

(('ecommerce',),
 ('employees',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [8]:
sql = "use ecommerce"
cursor.execute(sql)

0

In [9]:
sql = "select database()"
cursor.execute(sql)
result = cursor.fetchone()
result

('ecommerce',)

In [10]:
cursor

In [11]:
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

In [12]:
cursor.execute(sql)

0

In [13]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

In [14]:
db.close()

In [15]:
import pymysql

db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',db='ecommerce',charset='utf8')

In [16]:
cursor = db.cursor()

In [17]:
sql = '''
    CREATE TABLE product2 (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

In [18]:
cursor.execute(sql)

0

In [19]:
db.commit()

In [20]:
db.close()

In [21]:
import pymysql

db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',db='ecommerce',charset='utf8')

In [22]:
cursor = db.cursor()

In [23]:
for index in range(10):
    product_code = 216573140 + index + 1
    sql = """INSERT INTO product2 VALUES(
    '""" + str(product_code)+  """', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print(sql)
    cursor.execute(sql)

INSERT INTO product2 VALUES(
    '216573141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

In [24]:
db.commit()

In [25]:
db.close()

In [26]:
import pymysql

db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',db='ecommerce',charset='utf8')
cursor = db.cursor()

In [27]:
sql = "select * from product2"
cursor.execute(sql)

10

In [28]:
result = cursor.fetchone()
result

('216573141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [29]:
result = cursor.fetchall()

In [30]:
result

(('216573142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [31]:
db.close()

In [32]:
import pymysql

db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',db='ecommerce',charset='utf8')

cursor = db.cursor()

In [33]:
sql = """
UPDATE product2 SET 
    TITLE='하늘하늘 원피스 썸머 스페셜 가디건', 
    ORI_PRICE=33000, 
    DISCOUNT_PRICE=9900, 
    DISCOUNT_PERCENT=70 
    WHERE PRODUCT_CODE='216573141';
"""

cursor.execute(sql)

db.commit()

In [34]:
sql = "select * from product2 where product_code='216573141';"

cursor.execute(sql)

result = cursor.fetchone()
result

('216573141', '하늘하늘 원피스 썸머 스페셜 가디건', 33000, 9900, 70, 'F')

In [35]:
db.close()

In [36]:
import pymysql

db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',db='ecommerce',charset='utf8')

cursor = db.cursor()

In [38]:
sql = "DELETE FROM product WHERE PRODUCT_CODE='216573141';"
cursor.execute(sql)
db.commit()
db.close()

In [39]:
db = pymysql.connect(host='localhost',port=3306,user='root',passwd='jimkwon95',db='ecommerce',charset='utf8')
cursor = db.cursor()
sql = """select * FROM product WHERE PRODUCT_CODE='216573141'"""

cursor.execute(sql)

result = cursor.fetchone()
print(result)

db.commit()

db.close()

None